{% extends "/Bases/StandardWebPage.html.twig" %}

{% block head_assets %}
    {{ parent() }}
    <style>@import url("/Static/CSS/Unorganised/Console.css");</style>
{% endblock %}

{% block content %}

<span id="lfs_instance_fqdn" style="display: none;">{{ INSTANCE_DOMAIN_NAME }}</span>

<div>
    <div class="inner-content">
        <div class="navigation-breadcrumb-container">
            <a class="navigation-breadcrumb" href="/dashboard">{{ "home" | uihdg }}</a>
            <a class="navigation-breadcrumb" href="/console">{{ "auxilium_console" | uihdg }}</a>
        </div>
        
        <h1><span class="inline-icon-shift-left inline-icon-low-margin terminal-icon"></span>{{ "auxilium_console" | uihdg }}</h1>
        
        <div class="logical-box" id="no_js">
            {% if result %}
                <h2>{% if query %}{{ query }}{% else %}<em>Blank query</em>{% endif %}</h2>
                <pre>{{ result }}</pre>
            {% endif %}
            
            <form method="POST">
                <label for="query">Query</label>
                <textarea id="query" name="query" placeholder="SELECT . WHERE . == &quot;TEST&quot;">{{ query }}</textarea>
                <input type="submit" value="Submit query"></input>
            </form>
        </div>
        
        <div class="logical-box" id="js_console" style="display: none; height: 80vh; position: relative;">
            <div id="js_console_scrollable_container">
            </div>
            <span id="js_console_input_prompt"></span>
            <span id="js_console_input_caret">&gt;</span>
            <input type="text" id="js_console_input" />
        </div>
        
        <script src="/Static/JS/General/Console.js"></script>
    </div>
</div>
{% endblock %}
