{% extends "/Bases/StandardWebPage.html.twig" %}

{% block title %}{{ "home" | uihdg }}{% endblock %}

{% block content %}

<div>
    <div class="inner-content">
        <div class="navigation-breadcrumb-container">
            <a class="navigation-breadcrumb" href="/dashboard">{{ "home" | uihdg }}</a>
        </div>
        
        <h1>{{ ui_template("greeting", {"user":current_user.displayName}) }}</h1>
        
        {% for paa in paa_output %}
            <div class="todo-box"><h4>{{ paa.action.short_description | unpack_string }}</h4><p><a href="{{ paa.accept_link }}">{{ "accept" | uitxt }}<span class="inline-icon internal-link-marker-icon"></span></a><br /><a href="{{ paa.deny_link }}">{{ "deny" | uitxt }}<span class="inline-icon internal-link-marker-icon"></span></a></p></div>
        {% endfor %}
        
        <a href="/graph/~{{ current_user.id }}" class="navigational-link">{{ "manage_my_account" | uitxt | ndsentence }}</a><br />
        <a href="/form/8c5b68fb-b79d-4b5f-b3bb-984ee3214891" class="navigational-link">{{ "open_new_case" | uitxt | ndsentence }}</a><br />
        <a href="#" onclick="let se = new SearchEngine('global', 8); let fp = se.fullPage(); this.after(fp); fp.showModal(); se.onSelect((path) => {window.location.href = '/graph/' + deegraphPathToLink(path)}); se.focus();" class="action-link action-link-search">{{ "search_the_portal" | uitxt | ndsentence }}</a><br />
        {% if is_admin %}
            <a href="/console" class="navigational-link">{{ "auxilium_console" | uitxt | ndsentence }}</a><br />
            <a href="/system" class="navigational-link">{{ "system_settings" | uitxt | ndsentence }}</a><br />
            <a href="/all-cases" class="navigational-link">{{ "all_cases" | uitxt | ndsentence }}</a><br />
        {% endif %}
        <a href="/chats/new-message" class="navigational-link">{{ "send_a_message" | uitxt | ndsentence }}</a><br />
        
        <div class="large-spacer"></div>
        <div class="separator"></div>
        
    
        {% set local_breadcrumbs = breadcrumbs %}
        
        <div class="right-preferential-box">
            <div class="marked-section">
                {% set ltid = "CASES_BOX" %}
                <h2 class="heading-of-hideable-content">{{ "my_cases" | uihdg }} <a href="javascript:toggle_hidden_box('{{ ltid }}');"><span id="hidden_box_{{ ltid }}_toggle_button" class="inline-icon-low-margin expand-more-icon" style="display: none;"></span></a></h2>
                <div id="hidden_box_{{ ltid }}" class="logical-box">
                    {% if progressive_load %}
                        <div class="logical-box" id="cases_container">
                
                        </div>
                        
                        <script>
                            let casesInfiniteScroller = new InfiniteScroller("SELECT @path FROM ./cases/#", document.getElementById("cases_container"));
                        </script>
                    {% else %}
                        <ul class="collection-list">
                            {% if current_user.properties.cases %}
                                {% for prop_name, prop in current_user.properties.cases.properties %}
                                    {% set inline_node = prop %}
                                    {% set inline_node_path = "/graph/~" ~ prop.id %}
                                    <li>{{ include("Partials/NodeViews/Utilities/InlineNodeView.html.twig") }}</li>
                                {% else %}
                                    <li><em>No cases</em></li>
                                {% endfor %}
                            {% else %}
                                <li><em>No cases</em></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                    
                </div>
            </div>
        </div>
        <script>toggle_hidden_box("{{ ltid }}");toggle_hidden_box("{{ ltid }}");</script>
        
        
        {% set ltid = "TOP_FOLD_MESSAGE_BOX" %}
        
        <div class="left-preferential-box">
            <div class="marked-section">
                {% set latest_comms = current_user.getLatestCommunications(3) %}
                <h2 class="heading-of-hideable-content">{{ "my_messages" | uihdg }} <a href="/chats/new-message" class="inline-icon add-comment-icon" title="{{ "new_message" | uitxt | ndsentence }}"></a> <a href="javascript:toggle_hidden_box('{{ ltid }}');"><span id="hidden_box_{{ ltid }}_toggle_button" class="inline-icon-low-margin expand-more-icon" style="display: none;"></span></a></h2>
                <div id="hidden_box_{{ ltid }}" class="logical-box">
                    {% if progressive_load %}
                        <div class="logical-box" id="messages_container">
                
                        </div>
                        
                        <script>
                            let messageInfiniteScroller = new InfiniteScroller("SELECT @path FROM ./messages/# DESC", document.getElementById("messages_container"));
                        </script>
                    {% else %}
                        <ul class="collection-list">
                            {% if current_user.properties.messages %}
                                {% for prop_name, prop in current_user.properties.messages.properties %}
                                    {% set inline_node = prop %}
                                    {% set inline_node_path = "/graph/~" ~ current_user.id ~ "/messages/" ~ (prop_name | url_encode) %}
                                    <li>{{ include("Partials/NodeViews/Utilities/InlineNodeView.html.twig") }}</li>
                                {% else %}
                                    <li><em>No messages</em></li>
                                {% endfor %}
                            {% else %}
                                <li><em>No messages</em></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <script>toggle_hidden_box("{{ ltid }}");toggle_hidden_box("{{ ltid }}");</script>
        
    </div>
</div>
{% endblock %}
