{% extends "/Bases/StandardWebPage.html.twig" %}
{% block content %}

<div>
    <div class="inner-content">
        {% include "node-views/node-view-breadcrumbs.html.twig" %}
    
        <form action="?{{ url_metadata }}" method="POST">
        {% if last_page %}
            <h1 class="no-lower-margin">{{ "review_and_submit" | uihdg | ndtitle }}</h1>
            <span class="reverse-navigational-link-submit"><span class="inline-icon reverse-internal-link-marker-icon"></span><input type="submit" name="nav_button_{{ last_page }}" value="Back" /></span>
            <div class="spacer"></div>
        {% else %}
            <h1>{{ "review_and_submit" | uihdg | ndtitle }}</h1>
        {% endif %}
        
        <script src="/js/generic-ui.js"></script>
        
        {% for component in review_definition.components %}
            {% set emid = [] %}
            {% for i in 1..32 %}
                {% set randomCharacter = random("ABCDEFGHIJKLMNOPQRSTUVWXYZ234567") %}
                {% set emid = emid | merge([randomCharacter]) %}
            {% endfor %}
            {% set emid = emid | join %}
            
            {% if component.type == "SUBHEADING" %}
                {% if component.jump_to_page %}
                    <h2>{{ component.text | unpack_string | ndtitle }} <input class="icon-submit edit-icon" type="submit" name="nav_button_{{ component.jump_to_page }}" value="Edit" title="Edit" /></h2>
                {% else %}
                    <h2>{{ component.text | unpack_string | ndtitle }}</h2>
                {% endif %}
            {% elseif component.type == "LABEL" %}
                <label>{{ component.text | unpack_string | ndtitle }}</label>
            {% elseif component.type == "PARAGRAPH" %}
                {% if component.node %}
                    <p>{{ component.node | unpack_string }}</p>
                {% elseif component.text %}
                    <p>{{ component.text | unpack_string }}</p>
                {% else %}
                    <p><em>{{ "no_content" | uitxt | ndsentence }}</em></p>
                {% endif %}
            {% elseif component.type == "DESCRIPTION_LIST" %}
                <dl>
                    {% for key,value in component.dictionary %}
                        <dt>{{ key | unpack_string | ndtitle }}</dt>
                        {% if value.object %}
                            {% set inline_node = value.object %}
                            {% set inline_node_path = "/graph/~" ~ value.object.id %}
                            {% set inline_node_new_tab = true %}
                            {% set hide_edit_button = true %}
                            <dd>{{ include("node-views/inline-node-view.html.twig") }}</dd>
                            {% set inline_node_new_tab = false %}
                            {% set hide_edit_button = false %}
                        {% elseif value.text %}
                            <dd>{{ value.text }}</dd>
                        {% else %}
                            <dd><em>{{ "no_content" | uitxt | ndsentence }}</em></dd>
                        {% endif %}
                    {% endfor %}
                </dl>
            {% else %}
                <h1>UNKNOWN COMPONENT TYPE {{ component.type }}</h1>
            {% endif %}
        {% endfor %}
        <input type="submit" name="submit_button" value="Submit form" />
        </form>

    </div>
</div>

{% endblock %}
