{% extends "/Bases/StandardWebPage.html.twig" %}
{% block content %}

<div>
    <div class="inner-content">
        {% include "/Partials/NodeViews/Utilities/NodeViewBreadcrumbs.html" %}
    
        <h1 class="no-lower-margin">{% if primary_node_path_name | trim | length %}{{ primary_node_path_name | unpack_string | ndtitle }}{% else %}<em>{{ "unnamed_node" | uitxt | ndtitle }}</em>{% endif %}</h1>
        <a class="reverse-navigational-link" href="/graph/{{ primary_string_path | raw }}">Back to node view</a><br />
        
        <script src="/js/generic-ui.js"></script>
        
        <div class="large-spacer"></div>
        
        <div class="marked-section">
            <h2>References</h2><br />
            
            <dl>
                {% for prop_name, props in node.references %}
                    {% for prop in props %}
                        {% set inline_node = prop %}
                        {% set inline_node_path = "/graph/~" ~ prop.id %}
                        <dt>{{ prop_name | uiprop | ndtitle }} <a class="remove-circle-outline-icon inline-icon" title="Unlink" href="/graph/~{{ prop.id }}/{{ prop_name | url_encode }}/@unlink?{{ url_metadata.copy().setPath("~" ~ prop.id).setProperty("uln", node.id) }}"></a></dt>
                        <dd>{{ include("/Partials/NodeViews/Utilities/InlineNodeView.html.twig") }}</dd>
                    {% endfor %}
                {% else %}
                    <dt><em>Not referred to by any visible node</em></dt>
                {% endfor %}
            </dl>
        </div>

    </div>
</div>

{% endblock %}
