{% extends "email-templates/automated-message-base.html.twig.twig" %}

{% block message %}
<p style="{{ default_text_style }}">We've received a request to reset your password.</p>
<p style="{{ default_text_style }}">If you would like to reset your password please click <a href="{{ approve_action_link }}">here</a> or paste the following link into your browser: <a href="{{ approve_action_link }}">{{ approve_action_link }}</a>. This link is valid for 30 minutes.</p>
<p style="{{ default_text_style }}">This request was made from {{ request_ip }} at {{ request_time | date("F j, Y H:i:s T") }}</p>
<p style="{{ default_text_style }}">If this wasn't you, please ignore this email. This request was <em>not</em> made using your password.</p>
{% endblock %}
