{% extends "/Bases/StandardWebPage.html.twig" %}

{% block title %}{{ "add_login_method" | uihdg }}{% endblock %}

{% block content %}

<div>
    <div class="inner-content">
        <div class="navigation-breadcrumb-container">
            <a class="navigation-breadcrumb" href="/dashboard">{{ "home" | uihdg }}</a>
            <a class="navigation-breadcrumb" href="/graph/~{{ user_uuid }}" id="dynamic_node_name"><script>document.getElementById("dynamic_node_name").appendChild((new PathNameView("{{ "{" ~ user_uuid ~ "}" }}")).render())</script></a>
            <a class="navigation-breadcrumb" href="/users/{{ user_uuid }}/login-methods">{{ "login_methods" | uihdg }}</a>
            <a class="navigation-breadcrumb" href="#">{{ "add_basic_login" | uihdg }}</a>
        </div>
        
        <h1 class="no-lower-margin">{{ "add_basic_login" | uihdg }}</h1>
        <a class="reverse-navigational-link" href="/users/{{ user_uuid }}/login-methods">Back to login settings</a><br />
        
        <div class="large-spacer"></div>
        
        <form method="POST">
            <label for="email_address">{{ "email" | uiprop | ndsentence }} <span class="asterisk-hidden-text">({{ "required" | uitxt }})</span></label>
            <input type="text" name="email_address" placeholder="{{ "email" | uiprop | ndsentence }}" id="email_address" />
            <p class="error-toast" {% if form_validation.email_address %} style="display:none;" {% endif %}>This email address is already registered</p>
            <label for="password">{{ "password" | uiprop | ndsentence }} <span class="asterisk-hidden-text">({{ "required" | uitxt }})</span></label>
            <input type="password" name="password" placeholder="{{ "password" | uiprop | ndsentence }}" id="password" />
            <p class="error-toast" {% if form_validation.password %} style="display:none;" {% endif %}>Password does not meet complexity requirements</p>
            <input type="submit" value="{{ "add_login_method" | uitxt | ndsentence }}" />
            
            <div class="separator"></div>
        </form>
        
        
        </ul>
    </div>
</div>

{% endblock %}
