{% extends "/Bases/StandardWebPage.html.twig" %}

{% block title %}{{ "add_login_method" | uihdg }}{% endblock %}

{% block content %}

<div>
    <div class="inner-content">
        <div class="navigation-breadcrumb-container">
            <a class="navigation-breadcrumb" href="/dashboard">{{ "home" | uihdg }}</a>
            <a class="navigation-breadcrumb" href="/graph/~{{ user_uuid }}" id="dynamic_node_name"><script>document.getElementById("dynamic_node_name").appendChild((new PathNameView("{{ "{" ~ user_uuid ~ "}" }}")).render())</script></a>
            <a class="navigation-breadcrumb" href="/users/{{ user_uuid }}/login-methods">{{ "login_methods" | uihdg }}</a>
            <a class="navigation-breadcrumb" href="#">{{ "add_basic_login" | uihdg }}</a>
        </div>
        
        <h1 class="no-lower-margin">{{ "add_basic_login" | uihdg }}</h1>
        <a class="reverse-navigational-link" href="/users/{{ user_uuid }}/login-methods">Back to login settings</a><br />
        
        <div class="large-spacer"></div>
        
        <form method="POST">
            <input type="hidden" id="encoded_password_hash" name="encoded_password_hash" value="{{ encoded_password_hash }}" />
            <label for="email_address_verification_code">Verification Code<span class="asterisk-hidden-text">(required)</span></label>
            <input type="text" name="email_address_verification_code" placeholder="four random words here" />
            {% if not form_validation.verification_code %}
            <p class="error-toast">That code didn't match the one we expected</p>
            {% endif %}
            
            <input type="submit" id="continue-button" value="Continue" />
        
        </form>
        
        
        </ul>
    </div>
</div>

{% endblock %}
