{% extends "/Bases/StandardWebPage.html.twig" %}

{% block title %}{{ "add_login_method" | uihdg }}{% endblock %}

{% block content %}

<div>
    <div class="inner-content">
        <div class="navigation-breadcrumb-container">
            <a class="navigation-breadcrumb" href="/dashboard">{{ "home" | uihdg }}</a>
            <a class="navigation-breadcrumb" href="/graph/~{{ user_uuid }}" id="dynamic_node_name"><script>document.getElementById("dynamic_node_name").appendChild((new PathNameView("{{ "{" ~ user_uuid ~ "}" }}")).render())</script></a>
            <a class="navigation-breadcrumb" href="#">{{ "login_methods" | uihdg }}</a>
        </div>
        
        <h1 class="no-lower-margin">{{ "login_methods" | uihdg }}</h1>
        <a class="reverse-navigational-link" href="/graph/~{{ user_uuid }}">Back to user</a><br />
        
        <div class="large-spacer"></div>
        
        {% for login_method in login_methods %}
            {% if login_method["type"] == "classic" %}
                <div class="marked-section">
                    <h2><span class="inline-icon mail-lock-icon"></span> {{ "email_and_password" | uitxt | ndsentence }}</h2><br />
                    {% if login_method["is_current"] %}
                        <span>This is the method you are currently logged in with, so you can't remove it.</span><br />
                    {% else %}
                        <a class="navigational-link" href="remove-login-method/standard/{{ login_method["sub"] }}?{{ url_metadata }}">{{ "remove_login_method" | uitxt | ndsentence }}</a>
                    {% endif %}
                    <ul>
                    {% for session in login_method["sessions"] %}
                        <li>Logged in from {{ session["ip_address"] }} at {{ session["start_timestamp"] }}{% if session["is_current"] %} <strong>(This is your session)</strong>{% endif %}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% elseif login_method["type"] == "oauth" %}
                <div class="marked-section">
                    <h2><span class="inline-icon verified-icon"></span> OAuth ({{ ("login_with_" ~ login_method["vendor"]) | uitxt }})</h2><br />
                    {% if login_method["is_current"] %}
                        <span>This is the method you are currently logged in with, so you can't remove it.</span><br />
                    {% else %}
                        <a class="navigational-link" href="remove-login-method/oauth/{{ login_method["sub"] }}?{{ url_metadata }}">{{ "remove_login_method" | uitxt | ndsentence }}</a>
                    {% endif %}
                    <ul>
                    {% for session in login_method["sessions"] %}
                        <li>Logged in from {{ session["ip_address"] }} at {{ session["start_timestamp"] }}{% if session["is_current"] %} <strong>(This is your session)</strong>{% endif %}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% else %}
            <h2><span class="inline-icon close-icon"></span> <em>No login method</em></h2>
        {% endfor %}
        
        <a class="navigational-link" href="add-basic-login?{{ url_metadata }}">{{ "Add basic email and password login" | uitxt | ndsentence }}</a><br />
        {% for openid_config in openid_configs %}
        <a class="navigational-link" href="/api/v2/outbound-oauth-register/{{ openid_config.unique_name }}?for={{ user_uuid }}&jwt={{ url_metadata }}">{{ ("connect_a_" ~ openid_config.display_name ~ "_account") | uitxt | ndsentence }}</a><br />
        {% endfor %}
        
        <div class="spacer"></div>
        
        
        </ul>
    </div>
</div>

{% endblock %}
