{% extends "/Bases/StandardWebPage.html.twig" %}
{% block content %}

<div>
    <div class="inner-content">
        <h1>{{ "forms/sign_up/which_option_describes_you" | uitxtrt }}</h1>
        
        <p>{{ "forms/sign_up/already_account_login_start" | uitxtrt }} <a href="/login?fpk={{ form_persistence_key }}">{{ "forms/sign_up/already_account_login_link" | uitxtrt }}</a>{{ "forms/sign_up/already_account_login_end" | uitxtrt }} {{ "forms/sign_up/sso_option_blurb_start" | uitxtrt }} <a href="/login?fpk={{ form_persistence_key }}">{{ "forms/sign_up/sso_option_blurb_link" | uitxtrt }}</a> {{ "forms/sign_up/sso_option_blurb_end" | uitxtrt }}</p>
        <div class="small-spacer"></div>
        
        <form method="POST" action="?fpk={{ form_persistence_key }}">
        
            <div class="radio-button-holder">
                <input type="radio" id="user_type_VETERAN" name="user_type" value="VETERAN">
                <label for="user_type_VETERAN" class="long-form-label-for-radio-button"><p><strong>{{ "forms/sign_up/user_type_client_pt1" | uitxtrt }}</strong> {{ "forms/sign_up/user_type_client_pt2" | uitxtrt }}</p></label>
            </div>
            
            <div class="radio-button-holder">
                <input type="radio" id="user_type_FAMILY" name="user_type" value="FAMILY">
                <label for="user_type_FAMILY" class="long-form-label-for-radio-button"><p><strong>{{ "forms/sign_up/user_type_family_pt1" | uitxtrt }}</strong> {{ "forms/sign_up/user_type_family_pt2" | uitxtrt }}</p></label>
            </div>
            
            <div class="radio-button-holder">
                <input type="radio" id="user_type_ORGANISATION" name="user_type" value="ORGANISATION">
                <label for="user_type_ORGANISATION" class="long-form-label-for-radio-button"><p><strong>{{ "forms/sign_up/user_type_org_charity_pt1" | uitxtrt }}</strong> {{ "forms/sign_up/user_type_org_charity_pt2" | uitxtrt }}</p></label>
            </div>
            
            <div class="radio-button-holder">
                <input type="radio" id="user_type_STAFF" name="user_type" value="STAFF">
                <label for="user_type_STAFF" class="long-form-label-for-radio-button"><p><strong>{{ "forms/sign_up/user_type_staff_pt1" | uitxtrt }}</strong> {{ "forms/sign_up/user_type_staff_pt2" | uitxtrt }}</p></label>
            </div>
        
            <input type="submit" id="continue-button" value="{{ "forms/generic/continue" | uitxtrt }}" />
        
        </form>

        {{ include("Pages/sign-up-form/contact-info.html.twig") }}
    </div>
</div>

{% endblock %}
