{% extends "/Bases/StandardWebPage.html.twig" %}
{% block content %}

<div>
    <div class="inner-content">
        <h1>{{ "forms/sign_up/verify_your_email" | uitxtrt }}</h1>
        
        <p>{{ "forms/sign_up/verify_your_email_blurb" | uitxtrt }}</p>
        
        <div class="small-spacer"></div>
        
        <form method="POST" action="?fpk={{ form_persistence_key }}">
            
            <label for="email_address_verification_code">{{ "forms/sign_up/verification_code" | uitxtrt }}<span class="asterisk-hidden-text">({{ "required" | uitxt }})</span></label>
            <input type="text" name="email_address_verification_code" placeholder="{{ "forms/sign_up/four_random_words" | uitxtrt }}" />
            {% if form_validation_failures.email_address_verify_code %}
            <p class="error-toast">{{ "forms/sign_up/sign_up_code_mismatch_2" | uitxtrt }}</p>
            {% endif %}
            
            <input type="submit" id="continue-button" value="{{ "forms/generic/continue" | uitxtrt }}" />
        
        </form>

        {{ include("Pages/sign-up-form/contact-info.html.twig") }}
    </div>
</div>

{% endblock %}
