{% extends "/Bases/StandardWebPage.html.twig" %}
{% block content %}

<div>
    <div class="inner-content">
        {% include "/Partials/NodeViews/Utilities/NodeViewBreadcrumbs.html.twig" %}
    
        {% if progressive_load %}
            <h1 href="/graph/{{ parent_node_path }}" id="dynamic_node_name_title"><script>document.getElementById("dynamic_node_name_title").appendChild((new PathNameView("{{ deegraph_path }}")).render())</script></h1>
        {% else %}
            <h1>Deleting {% if primary_node_path_name | trim | length %}{{ primary_node_path_name | unpack_string | ndtitle }}{% else %}<em>{{ "unnamed_node" | uitxt | ndtitle }}</em>{% endif %}</h1>
        {% endif %}
        
        <script src="/js/generic-ui.js"></script>
        
        <div class="left-preferential-box">
            {% block primary_content %}
        
            <div class="marked-section">
                <h2>Are you sure you want to delete this object?</h2><br />
                <div class="button-box">
                    <a href="/graph/{{ primary_string_path | raw }}" class="button">No, go back</a>
                    <a href="/graph/{{ primary_string_path | raw }}/@delete?{{ url_metadata }}" class="button dangerous-button">Yes, delete data</a>
                </div>
            </div>
            
            {% endblock %}
        </div>
        
        <div class="right-preferential-box">
            {% block secondary_content %}
        
            <div class="side-note note-warning">
                <h2>This action can only be reversed by a system administrator</h2>
                <p>This data will then be permanently deleted within 28 days in compliance with UK GDPR.</p>
            </div>
            
            {% endblock %}
        </div>
        
        {% block tertiary_content %}
        {% endblock %}

    </div>
</div>

{% endblock %}
