{% if not max_inline_node_text_length %}
    {% set max_inline_node_text_length = 200 %}
{% endif %}
{% if inline_node.extendsOrInstanceOf("https://schemas.auxiliumsoftware.co.uk/v1/user.json") %}
    {% if inline_node_expanded %}
        <h3 class="low-margin-heading"><a {% if inline_node_new_tab %}class="navigational-link-new-tab" target="_blank"{% else %}class="navigational-link"{% endif %}class="navigational-link" href="{{ inline_node_path }}"><span class="inline-icon-shift-left inline-icon-low-margin account-box-icon" title="User account"></span>{% if inline_node.properties.name %}{{ inline_node.properties.name }}{% else %}{{ "{" ~ inline_node.id ~ "}" }}{% endif %}</a></h3>
        <div class="small-spacer"></div>
        <dl>
        {% for key,element in inline_node.properties %}
            {% set hide_list_node_button = true %}
            {% if not inline_node_level is defined %}
                {% set inline_node_level = 0 %}
                {% set old_inline_nodes = [] %}
                {% set old_inline_node_paths = [] %}
            {% endif %}
            {% set old_inline_nodes = old_inline_nodes|merge([inline_node]) %}
            {% set old_inline_node_paths = old_inline_node_paths|merge([inline_node_path]) %}
            {% set inline_node_level = inline_node_level + 1 %}
            {% set inline_node_path = inline_node_path ~ "/" ~ (key | url_encode) %}
            {% set inline_node = element %}
            <dt>{{ key | uiprop | ndtitle }}{% if inline_node.extendsOrInstanceOf("https://schemas.auxiliumsoftware.co.uk/v1/collection.json") %} <a class="format-list-bulleted-icon inline-icon" href="{{ inline_node_path | raw }}" title="View collection"></a>{% endif %}</dt>
            <dd>
                {{ include("/Partials/NodeViews/Utilities/InlineNodeView.html.twig") }}
            </dd>
            {% set inline_node_level = inline_node_level - 1 %}
            {% set inline_node = old_inline_nodes[inline_node_level] %}
            {% set inline_node_path = old_inline_node_paths[inline_node_level] %}
            {% set hide_list_node_button = false %}
        {% endfor %}
        </dl>
    {% else %}
        <a {% if inline_node_new_tab %}class="navigational-link-new-tab" target="_blank"{% else %}class="navigational-link"{% endif %}class="navigational-link" href="{{ inline_node_path }}"><span class="inline-icon-shift-left inline-icon-low-margin account-box-icon" title="User account"></span>{% if inline_node.properties.name %}{{ inline_node.properties.name }}{% else %}{{ "{" ~ inline_node.id ~ "}" }}{% endif %}</a>
    {% endif %}
{% elseif inline_node.extendsOrInstanceOf("https://schemas.auxiliumsoftware.co.uk/v1/case.json") %}
    <a {% if inline_node_new_tab %}class="navigational-link-new-tab" target="_blank"{% else %}class="navigational-link"{% endif %} href="{{ inline_node_path }}"><span class="inline-icon-shift-left inline-icon-low-margin work-icon" title="Case"></span>{% if inline_node.properties.title %}{{ inline_node.properties.title }}{% else %}{{ "{" ~ inline_node.id ~ "}" }}{% endif %}{% if inline_node.properties.clients %} - {% for client_number,client in inline_node.properties.clients.properties %}{{ client.properties.name }}{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}</a>
{% elseif inline_node.extendsOrInstanceOf("https://schemas.auxiliumsoftware.co.uk/v1/collection.json") %}
    <ul class="collection-list">
        {% set list_temp_counter = 0 %}
        {% for key,element in inline_node.properties %}
            {% if not inline_node_level is defined %}
                {% set inline_node_level = 0 %}
                {% set old_inline_nodes = [] %}
                {% set old_inline_node_paths = [] %}
            {% endif %}
            {% set old_inline_nodes = old_inline_nodes|merge([inline_node]) %}
            {% set old_inline_node_paths = old_inline_node_paths|merge([inline_node_path]) %}
            {% set inline_node_level = inline_node_level + 1 %}
            {% set inline_node_path = inline_node_path ~ "/" ~ (key | url_encode) %}
            <li>
                {% set inline_node = element %}
                {{ include("/Partials/NodeViews/Utilities/InlineNodeView.html.twig") }}
                {% if not hide_edit_button %}<a class="playlist-remove-icon inline-icon" title="Remove item from list" href="{{ inline_node_path | raw }}/@unlink?{{ url_metadata.copy().setProperty("uln", inline_node.id).setPath(old_inline_node_paths[inline_node_level - 1] | slice(7)) }}"></a>{% endif %}
            </li>
            {% set inline_node_level = inline_node_level - 1 %}
            {% set inline_node = old_inline_nodes[inline_node_level] %}
            {% set inline_node_path = old_inline_node_paths[inline_node_level] %}
            {% set list_temp_counter = list_temp_counter + 1 %}
        {% endfor %}
    </ul>
    
    {% if list_temp_counter == 0 %}
        <em>Empty list</em>
    {% elseif list_temp_counter == 1 %}
        <em>1 item in list</em>
    {% else %}
        <em>{{ list_temp_counter }} items in list</em>
    {% endif %}
    
    {% if not hide_list_node_button %}
        <a class="navigational-link" href="{{ inline_node_path }}">View list node</a>
    {% endif %}
{% else %}
    {% if (inline_node | length) > max_inline_node_text_length %}
        {% set ltid = [] %}
        {% for i in 1..16 %}
            {% set randomCharacter = random("ABCDEFGHIJKLMNOPQRSTUVWXYZ234567") %}
            {% set ltid = ltid | merge([randomCharacter]) %}
        {% endfor %}
        {% set ltid = ltid | join %}
        <span id="large_text_{{ ltid }}_preview" style="display: none;" title="Show full text">{{ inline_node | slice(0, max_inline_node_text_length) | nl2br }}<a href="javascript:expand_large_text('{{ ltid }}');" class="inline-icon more-icon"></a></span><span id="large_text_{{ ltid }}_full">{{ inline_node | nl2br }}<a href="javascript:hide_large_text('{{ ltid }}');" class="inline-icon close-fullscreen-icon" title="Hide full text"></a></span>{% if not hide_edit_button %}<a class="edit-icon inline-icon" title="Edit" href="{{ inline_node_path }}/@edit?{{ url_metadata.copy().setPath(inline_node_path | slice(7)) }}"{% if inline_node_new_tab %} target="_blank"{% endif %}></a>{% endif %}
        <script>hide_large_text("{{ ltid }}")</script>
    {% else %}
        <span>{{ inline_node | nl2br }}</span> {% if not hide_edit_button %}<a class="edit-icon inline-icon" title="Edit" href="{{ inline_node_path }}/@edit?{{ url_metadata.copy().setPath(inline_node_path | slice(7)) }}"{% if inline_node_new_tab %} target="_blank"{% endif %}></a>{% endif %}
    {% endif %}
{% endif %}
