{% extends "/Pages/node-views/generic.html.twig" %}


{% block primary_content %}

<div class="marked-section">
    <h2>{{ "node_page_text/case/todo_list" | uitxtrt | ndsentence }} <a href="javascript:{let win = new NewPropertyPopup('ICALENDAR_TODO', '{{ "{" ~ node.id ~ "}" }}/todos/#', true);document.getElementById('main-content').after(win.render());};" class="inline-icon add-icon" title="{{ "add_entry" | uitxt | ndsentence }}"></a></h2>
    <ul class="collection-list">
    {% if progressive_load %}
        {{ (deegraph_path ~ "/todos") | dnd | raw }}
    {% else %}
        {% for prop_name, prop in node.properties.todo.properties %}
            {% set inline_node = prop %}
            {% set inline_node_path = "/graph/" ~ primary_string_path ~ "/todo/" ~ (prop_name | url_encode) %}
            <li>{{ include("/Pages/node-views/inline-node-view.html.twig") }}</li>
        {% else %}
            <li><em>List empty</em></li>
        {% endfor %}
    {% endif %}
    </ul>
</div>

<div class="marked-section">
    <h2>{{ "node_page_text/case/description" | uitxtrt | ndsentence }}</h2>
    {% if progressive_load %}
        {{ (deegraph_path ~ "/description") | dnd | raw }}
    {% else %}
        {% if node.properties.description %}
            {% set inline_node = node.properties.description %}
            {% set inline_node_path = "/graph/" ~ primary_string_path ~ "/description" %}
            {{ include("/Pages/node-views/inline-node-view.html.twig") }}
        {% else %}
            <em>Description missing</em>
        {% endif %}
    {% endif %}
</div>

{{ parent() }}

<div class="marked-section">
    <h2>{{ "node_page_text/generic/documents" | uitxtrt | ndsentence }} <a href="javascript:{let win = new NewPropertyPopup('FILE_UPLOAD', '{{ "{" ~ node.id ~ "}" }}/documents/#', true);document.getElementById('main-content').after(win.render());};" class="inline-icon upload-icon" title="{{ "upload_file" | uitxt | ndsentence }}"></a></h2>
    <ul class="collection-list">
    {% if progressive_load %}
        {{ proplist(deegraph_path ~ "/documents", [], true, "./filename") | raw }}
    {% else %}
        {% for prop_name, prop in node.properties.documents.properties %}
            {% set inline_node = prop %}
            {% set inline_node_path = "/graph/" ~ primary_string_path ~ "/documents/" ~ (prop_name | url_encode) %}
            <li>{{ include("/Pages/node-views/inline-node-view.html.twig") }}</li>
        {% else %}
            <li><em>No documents on case file</em></li>
        {% endfor %}
    {% endif %}
    <div id="uploadFileProgressLocation"></div>
    </ul>
</div>

<div class="marked-section">
    <h2>{{ "node_page_text/case/timeline" | uitxtrt | ndsentence }} <a href="javascript:{let win = new NewPropertyPopup('ICALENDAR_JOURNAL', '{{ "{" ~ node.id ~ "}" }}/timeline/#', true);document.getElementById('main-content').after(win.render());};" class="inline-icon add-icon" title="{{ "add_entry" | uitxt | ndsentence }}"></a></h2>
    <ul class="collection-list">
    {% if progressive_load %}
        {{ (deegraph_path ~ "/timeline") | dnd | raw }}
    {% else %}
        {% for prop_name, prop in node.properties.timeline.properties %}
            {% set inline_node = prop %}
            {% set inline_node_path = "/graph/" ~ primary_string_path ~ "/timeline/" ~ (prop_name | url_encode) %}
            <li>{{ include("/Pages/node-views/inline-node-view.html.twig") }}</li>
        {% else %}
            <li><em>Timeline empty</em></li>
        {% endfor %}
    {% endif %}
    </ul>
</div>

{% endblock %}

{% block secondary_content %}
       
<div class="marked-section">
    <h2>{{ "node_page_text/case/clients" | uitxtrt | ndsentence }} <a href="javascript:attachToObject('{{ ("{" ~ node.id ~ "}/clients/#") | raw }}', 'users');" class="inline-icon group-add-icon" title="{{ "add_person" | uitxt | ndsentence }}"></a></h2><br />
    <ul class="collection-list">
        {% set inline_node_expanded = true %}
        {% if progressive_load %}
            {{ proplist(deegraph_path ~ "/clients", [], true, null, true) | raw }}
        {% else %}
            {% for prop_name, prop in node.properties.clients.properties %}
                {% set inline_node = prop %}
                {% set inline_node_path = "/graph/" ~ primary_string_path ~ "/clients/" ~ (prop_name | url_encode) %}
                <li>{{ include("/Pages/node-views/inline-node-view.html.twig") }}</li>
            {% else %}
                <li><em>Client list empty</em></li>
            {% endfor %}
        {% endif %}
        {% set inline_node_expanded = false %}
    </ul>
</div>

<div class="marked-section">
    <h2>{{ "node_page_text/case/case_workers" | uitxtrt | ndsentence }} <a href="javascript:attachToObject('{{ ("{" ~ node.id ~ "}/workers/#") | raw }}', 'users_and_groups');" class="inline-icon group-add-icon" title="{{ "add_person" | uitxt | ndsentence }}"></a></h2><br />
    <ul class="collection-list">
        {% set inline_node_expanded = true %}
        {% if progressive_load %}
            {{ proplist(deegraph_path ~ "/workers", [], true, null, false) | raw }}
        {% else %}
            {% for prop_name, prop in node.properties.workers.properties %}
                {% set inline_node = prop %}
                {% set inline_node_path = "/graph/" ~ primary_string_path ~ "/workers/" ~ (prop_name | url_encode) %}
                <li>{{ include("/Pages/node-views/inline-node-view.html.twig") }}</li>
            {% else %}
                <li><em>No assigned case workers</em></li>
            {% endfor %}
        {% endif %}
        {% set inline_node_expanded = false %}
    </ul>
</div>
       
<div class="marked-section">
    <h2>{{ "node_page_text/case/case_management" | uitxtrt | ndsentence }}</h2><br />
    {% if "DELETE" in node.permissions %}
        <a class="action-link action-link-delete" href="/graph/{{ primary_string_path | raw }}/@delete_confirm?{{ url_metadata }}">{{ "node_page_text/case/delete_node" | uitxtrt | ndsentence }}</a><br />
    {% endif %}
    <a class="navigational-link" href="/graph/{{ primary_string_path | raw }}/@references?{{ url_metadata }}">{{ "node_page_text/case/see_references" | uitxtrt | ndsentence }}</a>
</div>

{% endblock %}

{% block tertiary_content %}
<div class="marked-section">
    <h2>{{ "node_page_text/case/messages" | uitxtrt | ndsentence }} <a href="/chats/new-message?subject={{ node.id }}" class="inline-icon add-comment-icon" title="{{ "new_message" | uitxt | ndsentence }}"></a></h2>
    <ul class="collection-list">
    {% if node.properties.messages %}
        {% for prop_name, prop in node.properties.messages.properties %}
            {% if progressive_load %}
                {{ ("{" ~ node.id ~ "}/messages/" ~ prop_name) | dnd | raw }}
            {% else %}
                {% set inline_node = prop %}
                {% set inline_node_path = "/graph/" ~ primary_string_path ~ "/messages/" ~ (prop_name | url_encode) %}
                <li>{{ include("/Pages/node-views/inline-node-view.html.twig") }}</li>
            {% endif %}
        {% else %}
            <li><em>{{ "node_page_text/case/no_messages" | uitxtrt | ndsentence }}</em></li>
        {% endfor %}
    {% endif %}
    </ul>
</div>

<script src="/Static/JS/General/DragAndDropPage.js"></script>
{% endblock %}
