{% extends "/Pages/node-views/generic.html.twig" %}


{% block primary_content %}

{{ parent() }}

<div class="marked-section">
    <h2>{{ "node_page_text/group/departments" | uitxtrt | ndsentence }}</h2>
    <ul class="collection-list" id="departmentsContainer">
    {% if progressive_load %}
        <script>
            let departmentsInfiniteScroller = new InfiniteScroller("SELECT @path FROM  {{ ("{" ~ node.NodeID ~ "}") | raw }}/departments/# DESC", document.getElementById("departmentsContainer"));
        </script>
    {% else %}
        {% if node.properties.departments %}
            {% for prop_name, prop in node.properties.departments.properties %}
                {% set inline_node = prop %}
                {% set inline_node_path = "/graph/" ~ primary_string_path ~ "/departments/" ~ (prop_name | url_encode) %}
                <li>{{ include("/Pages/node-views/inline-node-view.html.twig") }}</li>
            {% endfor %}
        {% endif %}
    {% endif %}
    </ul>
    <div class="spacer"></div>
</div>


<div class="marked-section">
    <h2>{{ "node_page_text/group/cases" | uitxtrt | ndsentence }}</h2>
    <ul class="collection-list" id="casesContainer">
    {% if progressive_load %}
        <script>
            let casesInfiniteScroller = new InfiniteScroller("SELECT @path FROM  {{ ("{" ~ node.NodeID ~ "}") | raw }}/cases/# DESC", document.getElementById("casesContainer"));
        </script>
    {% else %}
        {% if node.properties.cases %}
            {% for prop_name, prop in node.properties.cases.properties %}
                {% set inline_node = prop %}
                {% set inline_node_path = "/graph/" ~ primary_string_path ~ "/cases/" ~ (prop_name | url_encode) %}
                <li>{{ include("/Pages/node-views/inline-node-view.html.twig") }}</li>
            {% endfor %}
        {% endif %}
    {% endif %}
    </ul>
    <div class="spacer"></div>
</div>



{% endblock %}

{% block secondary_content %}
        
<div class="marked-section">
    <h2>{{ "node_page_text/group/group_management" | uitxtrt | ndsentence }}</h2><br />
    {% if "DELETE" in node.permissions %}
        <a class="action-link action-link-delete" href="/graph/{{ primary_string_path | raw }}/@delete_confirm?{{ url_metadata }}">Delete all group data</a><br />
    {% endif %}
    <a class="navigational-link" href="/graph/{{ primary_string_path | raw }}/@references?{{ url_metadata }}">See references to this group</a>
</div>

<div class="marked-section">
    <h2>{{ "node_page_text/group/staff" | uitxtrt | ndsentence }} <a href="javascript:attachToObject('{{ ("{" ~ node.NodeID ~ "}/staff/#") | raw }}', 'users');" class="inline-icon group-add-icon" title="{{ "add_person" | uitxt | ndsentence }}"></a></h2>
    <ul class="collection-list" id="staffContainer">
    {% if progressive_load %}
        <script>
            let messagesInfiniteScroller = new InfiniteScroller("SELECT @path FROM  {{ ("{" ~ node.NodeID ~ "}") | raw }}/staff/# DESC", document.getElementById("staffContainer"), true);
        </script>
    {% else %}
        {% if node.properties.staff %}
            {% for prop_name, prop in node.properties.staff.properties %}
                {% set inline_node = prop %}
                {% set inline_node_path = "/graph/" ~ primary_string_path ~ "/staff/" ~ (prop_name | url_encode) %}
                <li>{{ include("/Pages/node-views/inline-node-view.html.twig") }}</li>
            {% endfor %}
        {% endif %}
    {% endif %}
    </ul>
</div>

{% endblock %}


{% block tertiary_content %}


{% endblock %}
