<!DOCTYPE html>
<html lang="{{ selected_lang }}-gb">
    <head>
        <meta charset="utf-8">
        <meta id="viewport" name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,maximum-scale=5,user-scalable=yes">
        <meta name="description" content="{{ page.description }}">
        <link rel="shortcut icon" type="image/svg" href="/favicon-handler.php?type=svg" />
        <link rel="shortcut icon" type="image/png" href="/favicon-handler.php?type=png" />
        {% block head_assets %}
            <style>@import url("/Static/CSS/Mapper.css");</style>
            {% if "dark-mode" in head_asset_options %}
                <style>@import url("/Static/CSS/Themes/DarkMode.css");</style>
            {% endif %}
            {% if "large-fonts" in head_asset_options %}
                <style>@import url("/Static/CSS/Accessibility/LargeFonts.css");</style>
            {% endif %}
        {% endblock %}
        <title>{% block title %}{{ "case_portal" | uihdg }}{% endblock %} - {{ INSTANCE_BRANDING_NAME }}</title>
        
        <!-- <script src="/js/purify.js"></script> -->
        <script src="/Static/JS/ThirdParty/SodiumSumo.js"></script>
        <script src="/Static/JS/ThirdParty/JSZip.min.js"></script>
        
        <script src="/js/utils.js"></script>
        <script src="/js/toast-notification.js"></script>
        <script src="/js/search-engine.js"></script>
        <script src="/js/language-pack.js"></script>
        <script src="/js/micro-template.js"></script>
        <script src="/js/template-string.js"></script>
        <script src="/js/deegraph-schema.js"></script>
        <script src="/js/popup-ui.js"></script>
        <script src="/Static/JS/ThirdParty/iCal.js"></script>
        <script src="/js/message-view.js"></script>
        <script src="/js/message-draft.js"></script>
        <script src="/js/inline-node-view.js"></script>
        <script src="/js/path-name-view.js"></script>
        <script src="/js/property-list.js"></script>
        <script src="/js/infinite-scroller.js"></script>
        <script src="/js/new-property.js"></script>
        <script src="/js/rfc822-parser.js"></script>

        <script src="/js/auxilium-client.js"></script>
    </head>
    
    <body>
        <span id="auxilium_instance_uuid" style="display: none;">{{ INSTANCE_UUID }}</span>
        <span id="auxilium_instance_fqdn" style="display: none;">{{ INSTANCE_DOMAIN_NAME }}</span>
        <script>let default_auxilium_client = new AuxiliumClient(null, "{{ current_user.uuid }}");</script>

        {% if header_warning %}
        <div>
            <div class="inner-content">
                <h2>{{ header_warning_title }}</h2>
                <p>{{ header_warning_content }}</p>
                <div class="spacer"></div>
            </div>
        </div>
        {% endif %}
        
        <nav>
            <div class="inner-content">
                <a id="skip-to-content-link" href="#main-content">{{ "skip_to_content" | uitxt | capitalize }}</a>
                <a id="navigation-logo" href="/"><img alt="{{ INSTANCE_BRANDING_NAME }} Logo" src="/assets/{{ INSTANCE_BRANDING_LOGO_CONTRAST_BRAND_COLOR }}" />{{ INSTANCE_BRANDING_NAME }}<sup> BETA</sup></a>
                <a id="navigation-logo-ultra-small" href="/"><img alt="{{ INSTANCE_BRANDING_NAME }} Logo" src="/assets/{{ INSTANCE_BRANDING_LOGO_CONTRAST_BRAND_COLOR }}" /></a>
                <div id="navigation-buttons">
                    {% if ABOUT_PAGE_URL %}
                        <a href="{{ ABOUT_PAGE_URL }}">{{ "about" | uihdg }}</a>
                    {% endif %}
                    {% if current_user %}
                        <a href="/onboard-new-case">{{ "new_case" | uihdg }}</a>
                        <a href="/dashboard">{{ "case_portal" | uihdg }}</a>
                    {% else %}
                        <a href="/onboard-new-case">{{ "new_clients" | uihdg }}</a>
                        <a href="/dashboard">{{ "login" | uihdg }}</a>
                    {% endif %}
                    {% if selected_lang == "en" %}
                        <a href="/lang?switch=cy" class="language-swap" lang="cy" title="Newid iaith i'r Gymraeg"><strong>Cymraeg</strong></a>
                    {% else %}
                        <a href="/lang?switch=en" class="language-swap" lang="en" title="Switch language to English"><strong>English</strong></a>
                    {% endif %}
                </div>
                <div id="hamburger-menu-button">
                    <input type="checkbox" id="hamburger-menu-button-input" />
                    <label for="hamburger-menu-button-input"></label>
                    <span id="burger-bun-top"></span>
                    <span id="burger-meat"></span>
                    <span id="burger-bun-bottom"></span>
                    <div id="navigation-menu">
                        <div class="inner-content">
                        {% if ABOUT_PAGE_URL %}
                            <a href="{{ ABOUT_PAGE_URL }}">{{ "about" | uihdg }}</a>
                        {% endif %}
                        {% if current_user %}
                            <a href="/onboard-new-case">{{ "new_case" | uihdg }}</a>
                            <a href="/dashboard">{{ "case_portal" | uihdg }}</a>
                            <a href="/logout">{{ "logout" | title }}</a>
                        {% else %}
                            <a href="/onboard-new-case">{{ "new_clients" | uihdg }}</a>
                            <a href="/dashboard">{{ "login" | uihdg }}</a>
                        {% endif %}
                        {% if selected_lang == "en" %}
                            <a href="/lang?switch=cy" class="language-swap" lang="cy" title="Newid iaith i'r Gymraeg"><strong>Cymraeg</strong></a>
                        {% else %}
                            <a href="/lang?switch=en" class="language-swap" lang="en" title="Switch language to English"><strong>English</strong></a>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        {% if current_user %}
        
        <!-- Make sure to only send this javascript to logged in users, as it requires cookie consent -->
        <script>
            let cookies = document.cookie.split(";");
            let currentProgressiveLoadValue = true;
            let hasCookie = false;
            for(let i = 0; i < cookies.length; i++) {
                let pair = cookies[i].split("=");
                if (pair[0].trim() == "progressiveload") {
                    currentProgressiveLoadValue = (decodeURIComponent(pair[1]) == "true");
                    hasCookie = true;
                    break;
                }
            }
            if (currentProgressiveLoadValue) { // If the user explicitly sets it to false, honour it
                if (!hasCookie) {
                    document.cookie = "progressiveload=true; path=/; SameSite=None; Secure;";
                }
            }
        </script>
        
        <div id="portal-authenticated-user-bar">
            <div class="inner-content">
                <p>{{ ui_template("logged_in_as", { "node": current_user }) }}</p>
                <a href="/logout" class="button">{{ "logout" | uitxt | title }}</a>
            </div>
        </div>
        
        {% endif %}
        
        {% block default_content_link %}<div id="main-content" class="reference-element"></div>{% endblock %}
        
        {% block content %}{% endblock %}
        
        <div class="spacer"></div>
    
        <footer>
            <div class="inner-content">
                <p><strong>{{ "copyright" | uitxt | ndsentence }} 2015 - {{ 'now' | date('Y') }} {{ INSTANCE_BRANDING_NAME }}</strong></p>
                {% if OPERATOR_NAME %}a
                    <p>{{ INSTANCE_BRANDING_NAME }} is owned and operated by {{ OPERATOR_NAME }}.</p>
                {% endif %}
            </div>
        </footer>
        <footer>
            <div class="inner-content">
                <div class="logo-gallery-flow-box">
                    <!-- a href="https://www.tnlcommunityfund.org.uk/"><img id="funders-national-lottery" alt="National Lottery Community Fund logo" src="/assets/partners/national-lottery-fund-logo.png" /></a>
                    <a href="https://www.aber.ac.uk/"><img id="funders-aberystwyth-university" alt="Aberystwyth University logo" src="/assets/partners/aberystwyth-university-logo.png" /></a -->
                </div>
                <ul class="link-list">
                    <!-- <li><a href="/complaints-procedure">Complaints procedure</a></li>
                    <li><a href="/privacy-policy">Privacy policy &amp; GDPR</a></li>
                    <li><a href="/accessibility-statement">Accessibility statement</a></li>
                    <li><a href="/contact">Contact us</a></li>
                    -->
                    {% if PRIVACY_POLICY_URL %}
                        <a href="{{ PRIVACY_POLICY_URL }}">{{ "privacy_policy" | uitxt | ndsentence }}</a>
                    {% endif %}
                    {% if ACCESSIBILITY_STATEMENT_URL %}
                        <a href="{{ ACCESSIBILITY_STATEMENT_URL }}">{{ "accessibility_statement" | uitxt | ndsentence }}</a>
                    {% endif %}
                    {% if CONTACT_US_URL %}
                        <a href="{{ CONTACT_US_URL }}">{{ "contact_us" | uitxt | ndsentence }}</a>
                    {% endif %}
                    {% if ABOUT_PAGE_URL %}
                        <a href="{{ ABOUT_PAGE_URL }}">{{ "about_us" | uitxt | ndsentence }}</a>
                    {% endif %}
                    
                    <li><a href="/onboard-new-case">{{ "open_new_case" | uitxt | ndsentence }}</a></li>
                    <li><a href="/dashboard">{{ "home" | uitxt | ndsentence }}</a></li>
                    {% if selected_lang == "en" %}
                        <li><a href="/lang?switch=cy" lang="cy">Newid iaith i'r Gymraeg (Switch language to Welsh)</a></li>
                    {% else %}
                        <li><a href="/lang?switch=en" lang="en">Switch language to English (Newid iaith i'r Saesneg)</a></li>
                    {% endif %}
                    <li><a href="/style?switch=dark-mode">{{ "toggle_dark_mode" | uitxt | ndsentence }}</a></li>
                    <li><a href="/style?switch=large-fonts">{{ "toggle_large_fonts" | uitxt | ndsentence }}</a></li>
                </ul>
                <div class="spacer"></div>
                <span>Auxilium v2.0-RC1</span>
                <div class="spacer"></div>
            </div>
        </footer>


    </body>
</html>
