{% extends "/Bases/StandardWebPage.html.twig" %}

{% block title %}{{ "system_settings" | uihdg }}{% endblock %}

{% block content %}

<div>
    <div class="inner-content">
        <div class="navigation-breadcrumb-container">
            <a class="navigation-breadcrumb" href="/dashboard">{{ "home" | uihdg }}</a>
            <a class="navigation-breadcrumb" href="/system">{{ "system_settings" | uihdg }}</a>
        </div>
        
        <script src="/js/generic-ui.js"></script>
        
        <h1>{{ "system_settings" | uihdg }}</h1>
        
        <a href="/console" class="navigational-link">{{ "auxilium_console" | uitxt | ndsentence }}</a><br />
        
        <a href="/system/appearance" class="navigational-link">{{ "appearance" | uitxt | ndsentence }}</a><br />
        <a href="/system/asset-manager" class="navigational-link">{{ "asset_manager" | uitxt | ndsentence }}</a><br />
        <a href="/system/form-manager" class="navigational-link">{{ "form_manager" | uitxt | ndsentence }}</a><br />
        <a href="/system/enum-manager" class="navigational-link">{{ "enum_manager" | uitxt | ndsentence }}</a><br />
        <a href="/form/50f4e206-35f1-465e-ac44-b9453a4d1324" class="navigational-link">{{ "new_user" | uitxt | ndsentence }}</a><br />
        <a href="/form/d7508b83-b7bf-4f5e-a1ad-371fa16f0861" class="navigational-link">{{ "new_group" | uitxt | ndsentence }}</a><br />

    </div>
</div>
{% endblock %}
